body{	
	font: normal normal normal normal 16.5px / 24.5px "open sans", sans-serif;
}

@media (min-height: 1023px){
	body{	
	font: normal normal normal normal 20.5px / 30.5px "open sans", sans-serif;
}
}

.heading{
 	font-family: 'Pacifico', cursive;
 	color: #ff471a !important;
 	font-size: 25px;
 }

/***************************************************************************************************************/
/* Navbar Style */
.navbar{
	background-color: rgba(0,0,0,0.7);
	border: none;
	color: #444;
}
 
 .nav.navbar-nav li a{
 	color: #fff;
 	font-size: 20px;
 }

 .nav.navbar-nav li a:hover{
 	color: #ff471a !important;
 } 

/* custom media queries for navbar */ 
@media (min-width:767px)
{

	.nav.navbar-nav li{	
 	margin-left: 50px;
    }

 	#navbar{
 		float: right;
 	}
}/* custom media queries ends */

 /* Navbar Style ends */

/***************************************************************************************************************/

/* Jumbotron Style */
 #bg{
 	height: 100vh;
 	background-image: url(images/background.jpg);
 	background-size: cover;
 	background-attachment: fixed;
 	background-repeat: no-repeat;
 	background-size: 100% 100%;
 }
#bg h1{
	text-align: center;
	color: #fff;
	padding: auto;
}

#bg h2{
	padding-top: 140px;
	text-align: center;
	color: #fff;
} 

/* custom media queries  */
@media (max-width:767px)
{

#bg h2{
	padding-top: 200px;
	text-align: center;
	color: #fff;
	}
}

@media (min-height:1000px)
{


#bg h2{
	padding-top: 300px;
	text-align: center;
	color: #fff;
	}
}

@media (min-height:1300px)
{

#bg h2{
	padding-top: 400px;
	text-align: center;
	color: #fff;
	}
}
/* custom media queries ends */

/* Jumbotron Style ends*/

/***************************************************************************************************************/


/*About Style*/

#about h1{
	padding: 50px 0 30px 0;
}

#about p{
	text-align: justify;
}

/*About Style Ends*/

/***************************************************************************************************************/


/*bgi-technology section styles */
.bgi{
	background-color: #1a1a1a;
	padding: 50px 0 100px 0;
	margin-top: 50px;
}

.bgi h1{
	padding-bottom: 50px;
	color: #fff;
}

#technologies img{
	width: 100%;
}
/*bgi-technology section style ends */

/***************************************************************************************************************/


/*Contact Style*/
#contact{
	margin-top: 50px;
}
/*Contact Style*/

/* form style*/

input[type], .form-group textarea{
	padding: 25px 12px;
	border-style: none;	
}

/***************************************************************************************************************/


/*Footer Style*/
.footer {
	padding-top: 35px;
	margin-top: 50px;
	width: 100%;
	height: 100px;
	background-color: #000;
	text-align: center;
	font-family: 'Pacifico', cursive;
 	color: #ff471a;
 	font-size: 20px;
}

/* custom media queries  */
@media (max-width: 992px){
	.footer {
	padding-top: 20px;
	margin-top: 50px;
}
}
/* custom media queries ends */
 /*Footer Style ends*/
